name: apk-release
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - uses: android-actions/setup-android@v3
      - run: |
          echo "KSP=${{ secrets.KSP }}" >> $GITHUB_ENV
          chmod +x apk/gradlew
          cd apk && ./gradlew assembleRelease
      - uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: apk/app/build/outputs/apk/release/app-release.apk
